.list-container{
    background-color: #2b2b2a;
    list-style:none;
    color:#bdbdb9;
    font-family:fantasy;
    width:450px;
    padding:15px;
    border-radius:10px;
    text-align: center;
    margin-bottom:20px;
    margin-right:10px;
}
.todo-detail{
    font-size:18px;
    font-weight:510;
}
.todo-button{
    padding:7px;
    border-radius:8px;
    border:none;
    margin-right:10px;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    font-family:fantasy;
    font-weight:bold;
    width:60px;
    transition:1s;
}
.todo-select{
    padding:5px;
    margin-bottom:10px;
    cursor: pointer;
}
.todo-span{
    font-size:18px;
    font-weight: 510;
}
@media screen and (max-width:575px){
    .list-container{
        width:300px
    }
}
@media screen and (max-width:375px){
    .list-container{
        width:250px
    }
}