.edit-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:40px;
}
.todo-text{
    width:400px;
    height:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    border:1px solid;
    border-radius:8px;
    font-weight: bold;
    padding-left: 8px;
    margin-top:5px;
    margin-bottom: 5px;
}
.todo-content{
    width:800px;
    height:200px;
    padding:10px;
    font-size:22px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 26px;
    background-color: transparent;
    border:1px solid;
    border-radius:8px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
}
select{
    padding:8px;
    width:200px;
    border-radius:10px;
}
label{
    color:#f06807;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom:4px;
    font-size:18px;
    font-family:fantasy;
}
.add-post-button{
    background-color:#2e62e6;
    padding:6px;
    color:#fff;
    border:none;
    border-radius:7px;
    width:90px;
    font-weight: 510;
    cursor: pointer;
}
.filled-error{
    color:#f0163e;
    font-size:14px;
    font-weight:510;
    margin-top:1px;
}
@media screen and (max-width:1279px){
    .todo-content{
        width:500px;
    }
}
@media screen and (max-width:600px){
    .todo-text{
        width:320px;
        height:35px;
    }
    .todo-content{
        width:320px;
    }
    label{
        font-size:16px;
    }
}
@media screen and (max-width:375px){
    .todo-text{
        width:250px;
        height:42px;
    }
    .todo-content{
        width:250px;
    }
}